* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* style dot. menu nawigacyjnego */

#main-nav {
    position: fixed;
    width: 100%;
    background-color: darkblue;
    right: 0;
    top: 0;
    bottom: 80%;
    clip-path: polygon(100% 0, 100% 85%, 50% 40%, 0 85%, 0 0);
}



#main-nav:hover {
    transition: all 0.3s ease-in;
    background-color: #556887;
    clip-path: polygon(100% 0, 100% 90%, 50% 50%, 0 90%, 0 0);
}


/* style dot. listy linków */

#main-nav > .links-left > ul > li {
    float: left;
    list-style: none;
    padding: 20px;
    margin-left: 20px;
}

#main-nav > .links-right > ul > li {
    float: right;
    list-style: none;
    padding: 20px;
    margin-right: 20px;
}


/* linki lewe */

#main-nav > .links-left > ul > li > a {
    color: #fff;
    text-decoration: none;
}

#main-nav > .links-left > ul > li > a:hover {
    color: silver;
    text-decoration: underline;
}


/* linki prawe */

#main-nav > .links-right > ul > li > a {
    color: #fff;
    text-decoration: none;
}

#main-nav > .links-right > ul > li > a:hover {
    color: silver;
    text-decoration: underline;
}


/* napis */

h1 {
    text-align: center;
    padding: 30vh;
    font-size: 3em;
}
