body {
    font-family: "Verdana", sans-serif;
    color: #fff;
    margin: 0;
}

@media (min-width:1170px) {

    header {
        position: absolute;
    }
    
    #background {
        background-image: url(../obrazy/man-1.jpg);
        background-position: center;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }


.header-caption {
    position: absolute;
    font-size: 20px;
    top: 40%;
    left: 5%;
    }
    
}

.header-caption span {
    font-size: 1.5em;
}

@media (min-width:992px) and (max-width:1170px) {

    #background {
        background-image: url(../obrazy/man-2.jpg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70%;
        width: 100%;
        
    }
    
    .header-caption {
        position: absolute;
        font-size: 12px;
        left: 60%;
        top: 8%;
    }
    
}

@media (max-width:992px) {
    #background {
        background-image: url(../obrazy/man-1.jpg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50%;
        width: 100%;
    
    }
    
    .header-caption {
        position: absolute;
        color: #000000;
        font-size: 12px;
        width: 100%;
        text-align: center;
        top: 100%;
    }
}
    
    
    
    