body {
    font-family: "Verdana", sans-serif;
    color: #fff;
    margin: 0;
}

@media (min-width:1170px) {

    .main-header-content {
        background-image: url(../obrazy/man-1.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}

.header-caption {
    font-size: 20px;
}

.header-caption span {
    font-size: 1.5em;
}

@media (min-width:992px) and (max-width:1170px) {

    .main-header-content {
        background-image: url(../obrazy/man-2.jpg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70%;
        width: 100%;
    }
    
    .header-caption {
        text-align: right;
    }
}

@media (max-width:992px) {
    .main-header-content {
        background-image: url(../obrazy/man-1.jpg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        width: 100%;
    
    }
}