* {
    box-sizing: border-box;
}

body {
    background-color: #98fb98;
}

#box {
    margin: 0 auto;
    text-align: center;
}

.produkty {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 250px;
    width: 30%;
    margin: 20px;

}

#produkt1 {
    background-image: url("../produkty/product-1.jpg");
}

#produkt2 {
    background-image: url(../produkty/product-2.jpg);
}

#produkt3 {
    background-image: url(../produkty/product-3.jpg);
}

#produkt4 {
    background-image: url(../produkty/product-4.jpg);
}


/* ustawienia masek */

.item-mask {
    position: relative;
    background-color: rgba(255, 111, 0, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
}

.item-mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
}

/* ustawienia koszyka */

.koszyk {
    font-size: 25px;
}

a {
    position: absolute;
}

.koszyk a {
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* RWD */

@media screen and (min-width:993px) {
    .produkty {
        width: 20%;
    }
}


@media screen and (min-width:481px) and (max-width:992px) {
    .produkty {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {

    .produkty {
        width: 90%;
    }
}